.container-left {
    height: 100%;
    width: 360px;
    float: left;
    overflow-y: auto;
    border-right: 2px black solid;
}

.container-right {
    height: 100%;
    width: calc(100% - 362px);
    float: right;
    overflow: auto;
}

.container-right::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.container-right::-webkit-scrollbar-thumb {
    background-color: gray;
}

.container-right::-webkit-scrollbar-track {
    background-color: transparent;
}

.control-panel {
    margin: 0 20px;
}

.graph-maze {
    width: fit-content;
}

.graph-maze-row {
    display: flex;
    width: 100%;
}

.graph-maze-sticky-head-top {
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    background-color: white;
    z-index: 100;
}

.graph-maze-sticky-head-left {
    width: 40px;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    position: sticky;
    position: -webkit-sticky;
    background-color: white;
}

.graph-maze-element-container {
    flex: 1;
}

.graph-maze-element-left {
    display: block;
    margin-right: auto;
}

.graph-maze-element-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.graph-maze-element-right {
    display: block;
    margin-left: auto;
}